@import "tailwindcss";

body {
  font-family: "Bricolage Grotesque", serif;
  background-color: #121b22;
}

.nav {
  font-family: 'Brigends Expanded', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  animation-duration: 0.4s;
  background: #33e0a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  animation-duration: 0.4s;
}

@keyframes grid-flow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -50px -50px;
  }
}

.animate-grid-flow {
  background-size: 50px 50px;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px),
    linear-gradient(to bottom,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px);
  animation: grid-flow 20s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}